{% extends 'base.html.twig' %}

{% block body %}
<form method="post" id="form">
    <div class="form-group input-enquete col-md-3">
        <label for="nom_questionnaire" class="bmd-label-floating">Nom questionnaire</label>
        <input type="text" class="form-control" id="nom_questionnaire" name="nom_questionnaire">
    </div>
    <div class="form-group input-enquete col-md-3">
        <label for="nb_questions" class="bmd-label-floating">Nombre de questions</label>
        <input type="text" class="form-control" id="nb_questions" name="nb_questions">
    </div>
    <input type="submit" id="add_question" class="btn btn-raised btn-info btn-lg2" value="Ajouter des questions">
    <div id="all_questions">

    </div>
    <div id="result">

    </div>

</form>


{% include 'default/javascript.html.twig' %}

<script type="text/javascript">
    $(document).ready(function () {
        $("#add_question").on("click", function (e) {
            e.preventDefault();

            $("#all_questions").empty();
            $("#result").empty();
            console.log($("#nom_questionnaire").val() )
            console.log($("#nb_questions").val() )

            if ($("#nom_questionnaire").val() != "" || $("#nb_questions").val() != "") {

                var nb_questions = $("#nb_questions").val();

                if (nb_questions != 0 || nb_questions == null) {
                    for (var i = 0; i < nb_questions; i++) {
                        $("#all_questions").append('<div id="question_' + i + '" class="form-group input-enquete col-md-3"> <label for="question_' + i + '" class="bmd-label-floating">Question ' + (i + 1) + ':</label> <input type="text" class="form-control" id="nom_questionnaire" name="question_' + i + '"><label for="type' + i + '">Réponse écrite</label><input class="checkbox" type="checkbox" name="type' + i + '" id="type  ' + i + '"></div>')

                    }
                }

                $("#all_questions").append("<button class='btn btn-raised btn-info btn-lg2'  type='button' id='send_enquete'>Créer enquête</button>");

                $("#send_enquete").on("click", function (e) {
                    $("#result").empty();
                    e.preventDefault();
                    var form = $("#form");

                    $.ajax("{{ path("creer-enquete-db") }}", {
                        data: form.serialize(),
                        success: function (response) {
                            if (response.error == undefined) {
                                $("#result").append("Enquête enregistré")
                            } else {
                                $("#result").append(response.error)
                            }
                        }
                    });
                })

            } else {
                $("#result").append("Veuillez rentrer un nom d'enquête de satisfaction et un nombre de questions")
            }


        });
    });


</script>

{% endblock %}