{% extends 'base.html.twig' %}

{% block body %}
{% include "default/javascript.html.twig" %}

<form method="post" id="{{ questionnaire_name }}" action="{{ path('register-enquete') }}">
    <div class="form">
        <h1>{{ questionnaire_name }}</h1>

        {% for element in questions %}
    <p>{{ element.content }}</p>
            <input type="hidden" value="{{ questionnaire_name }}" name="name">

            {% if element.type == "on" %}
            <input type="text" name="{{ element.id }}" placeholder="Mettez votre réponse ici">
        <input type="hidden" value="on" name="type">

    {% elseif element.type == "off" %}
        <input type="hidden" value="off" name="type">

        <label class="radio" >Satisfaisant
        <input type="radio"  name="{{ element.id }}" value="agree">
        <span class="checkround"></span>
    </label>
    <label class="radio" >Peu satisfaisant
        <input type="radio"  name="{{ element.id }}" value="medium">
        <span class="checkround"></span>
    </label>
    <label class="radio" >Non Satisfaisant
        <input type="radio"  name="{{ element.id }}" value="disagree">
        <span class="checkround"></span>
    </label>
    {% endif %}
    <br/>
{% endfor %}
    <input type="submit" value="Envoyer" id="send_questions" class="btn btn-raised btn-info btn-lg">
    </div>
</form>

{% endblock %}