{% extends 'base.html.twig' %}

{% block body %}
<ul class="list-group">
{% for questionnaire in allQuestionnaire %}
    {% set nom_questionnaire = questionnaire.NomQuestionnaire %}
    <li class="list-group-item"><a class="list-enquete" href="{{ path('enquetes', { id : questionnaire.id }) }} ">{{ questionnaire.NomQuestionnaire }}</a> (Agree : {{ stats['_'~nom_questionnaire].agree }}%, Medium : {{ stats['_'~nom_questionnaire].medium }}%, Disagree : {{ stats['_'~nom_questionnaire].disagree }}%) </li>
{% endfor %}
</ul>
    {% if app.user.roles.0 == 'ROLE_ADMIN' %}
        <button id="export">Export</button>
    {% endif %}

    {% include "default/javascript.html.twig" %}

    <script type="text/javascript">
        $("#export").on("click", function(){
            window.location.href = "{{ path('exportAllEnquetes') }}"
        });

    </script>

{% endblock %}


