{% extends "general.html.twig" %}

{% block body %}
{% if form is not null %}
    {{ form_start(form) }}

    <div class="wrapper fadeInDown" style="margin-top:125px; margin-bottom:50px">
            <div id="formContent">
                <!-- Tabs Titles -->

                <!-- Icon -->
                <div class="fadeIn first">
                    <h2> Mot de passe oublié </h2>
                    <div class="section-style"></div>
                {# <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> #}
                </div>

                <!-- Login Form -->
                <form>
                {# <input type="text" name="_username" class="fadeIn second" placeholder="Adresse Email" required autofocus> #}
                    {{ form_row(form.Email, {"label" : "Adresse Email", 'placeholder' : "Adresse Email", "attr" : { 'class' : "fadeIn second" }}) }}
                {# <input type="text" name="_password" class="fadeIn third" placeholder="Mot de passe" required> #}
                    {{ form_row(form.LastName, {"label": "Votre Nom", 'placeholder' : "Votre nom", "attr" : { 'class' : "fadeIn third" }}) }}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <input type="submit" class="fadeIn fourth" value="Continuer">
                </form>

                <!-- Remind Passowrd -->
                <div id="formFooter">
                </div>

            </div>
        </div>
    {{ form_end(form) }}
{% elseif form is null %}
    <h1>Votre demande de réinitialisation de mot de passe vous a été envoyé ! </h1>
{% endif %}
{% endblock %}