{% extends 'general.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <style>
        html {
            overflow-y: hidden;
            overflow-x: hidden;
        }
        .body {
            overflow-x: hidden;
        }
    </style>
<div class="body">

    {% if app.user.roles is defined and (app.user.roles != "ROLE_USER" or app.user.roles != "ROLE_ADMIN" )%}
        <script type="text/javascript">
            window.location.href = "{{ path("allCalculs") }}"
        </script>
    {% endif %}
    <form method="post" action="{{ path('security_login') }}">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}


        <div class="wrapper fadeInDown" style="margin-top:125px; margin-bottom:50px">
            <div id="formContent">
                <!-- Tabs Titles -->

                <!-- Icon -->
                <div class="fadeIn first">
                    <h2> Connexion </h2>
                    <div class="section-style"></div>
                {# <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> #}
                </div>

                <!-- Login Form -->
                <form>
                <input type="text" name="_username" class="fadeIn second" placeholder="Adresse Email" required autofocus>
                <input type="password" name="_password" class="fadeIn third" placeholder="Mot de passe" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <input type="submit" class="fadeIn fourth" value="Log In">
                </form>

                <!-- Remind Passowrd -->
                <div id="formFooter">
                <a class="underlineHover" href="{{ path("security_forgot.password") }}">Forgot Password?</a>
                </div>

            </div>
        </div>
    </form>
</div>

{% endblock %}
