{% extends 'general.html.twig' %}

{% block body %}
    {% if form %}
        {{ form_start(form) }}

            <div class="wrapper fadeInDown" style="margin-top:125px; margin-bottom:50px">
            <div id="formContent" style="max-width: 950px;">
                <!-- Tabs Titles -->

                <!-- Icon -->
                <div class="fadeIn first">
                    <h2> Créer un compte utilisateur </h2>
                <div class="section-style"></div>
                {# <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> #}
                </div>

                <!-- Login Form -->
                <form>
                <div class="row">
                <div class="col" style="border-right: 1px solid #1e1859;">
                    {{ form_row(form.Login, {'placeholder' : "Nom d\'utilisateur", "attr" : { 'class' : "fadeIn second" } }) }}
                </div>
                 <div class="col">
                    {{ form_row(form.Email, {'placeholder': "Adresse Email", "attr" : { 'class' : "fadeIn third" }}) }}
                    {{ form_row(form.Password, {'placeholder' : "Mot de Passe", "attr" : { 'class' : "fadeIn third" }}) }}
                    {{ form_row(form.ConfirmPassword, {'placeholder' : "Confirmer Mot de Passe", "attr" : { 'class' : "fadeIn third" }}) }}
                    {{ form_row(form.roles, {"attr" : { 'class' : "fadeIn third" }}) }}
                    {{ form_row(form._token) }}
                 </div>
                </div>
                <div class="row">
                    <input type="submit" class="fadeIn fourth"  style="margin-right:auto; margin-left:auto; margin-top: 25px" value="Créer">
                </div>
                </form>

                <!-- Remind Passowrd -->
                <div id="formFooter">
                </div>

            </div>
        </div>
        {{ form_end(form) }}
    {% elseif status == 'Ok' %}
        <h1>Votre inscription a bien fonctionnée ! Bienvenue sur GestLoca. </h1>
    {% endif %}

{% endblock %}