.btn-lg2 {
	width: 400px!important;
	margin-left: 20px!important;
	display: block!important;
	margin-bottom: 30px;
	background-color: #1e1859!important
}

.btn-lg {
	width: 300px!important;
	margin-left: auto!important;
	margin-right: auto!important;
	display: block!important;
	margin-bottom: 30px;
	background-color: #1e1859!important
}

.checkbox {
	margin: 5%;
	display: inline;
	font-size: 200%;
	transform: scale(2);
}

.list-enquete {
	margin-left: 10%;
}

.pharma-row {
	margin-left: auto;
	margin-right: auto;
}

.form {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-left: 40%;
}

.body {
	overflow-y: hidden;
}

.form-control{
	width: inherit!important;
	margin-left: 25%;
}

.submitCalc{
	margin: 2%;
}

.middle {
	margin-top: 10%;
}

.titleNotConnected{
	text-align: center;
}

.map-container iframe, .map-container-2 iframe, .map-container-3 iframe, .map-container-4 iframe, .map-container-5 iframe, .map-container-6 iframe, .map-container-7 iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

/* Radio Button */
.radio {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.radio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkround {
	position: absolute;
	top: 6px;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #fff ;
	border-color:grey;
	border-style:solid;
	border-width:2px;
	border-radius: 50%;
}

.radio input:checked ~ .checkround {
	background-color: #fff;
}

.checkround:after {
	content: "";
	position: absolute;
	display: none;
}

.radio input:checked ~ .checkround:after {
	display: block;
}

.radio .checkround:after {
	left: 2px;
	top: 2px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background:#009688;
}

#app{
	padding: 50px 0;
}

.custom-legend{
	cursor: pointer;
}

text.custom-legend-value{
	font-size: 28px;
	fill: black;
	alignment-baseline: hanging;
}
text.custom-legend-title{
	font-size: 15px;
	fill: grey;
	alignment-baseline: hanging;
}

.c3-arc.c3-arc-good,
.custom-legend-color.is-good{
	fill: #00d455 !important;
}
.c3-arc.c3-arc-neutral,
.custom-legend-color.is-neutral{
	fill: #5599ff !important;
}
.c3-arc.c3-arc-bad,
.custom-legend-color.is-bad{
	fill: #ff2a2a !important;
}


