{% extends 'base.html.twig' %}

{% block title %}Accueil !{% endblock %}

{% block body %}
    {% if error != null %}
    <h1>{{ error }}</h1>
    {% else %}
        <a href="{{ path() }}"
    {% endif %}
{% endblock %}