{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    {{ form_label(form.Nom, "Nom du Produit" , {'label_attr' : {'class' : 'bmd-label-floating'}} ) }}
    {{ form_widget(form.Nom, {'attr' : {'class' : 'form-control'}} ) }}
    {{ form_label(form.Prix, "Prix du produit" , {'label_attr' : {'class' : 'bmd-label-floating'}} ) }}
    {{ form_widget(form.Prix, {'attr' : {'class' : 'form-control'}} ) }}
    <button type="submit">Ajouter</button>

    {{ form_end(form) }}

{% endblock %}