<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Nivantis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('allCalculs') }}">Calcul</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('maps') }}">Pharmacie à proximité</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ path('show-enquetes') }}">Enquête de satisfaction <span class="sr-only">(current)</span></a>
            </li>
            {% if app.user.roles.0 == 'ROLE_ADMIN' %}
            <li class="nav-item ">
                <a class="nav-link" href="{{ path('security_registration') }}">Créer un compte Utilisateur <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ path('create-enquetes') }}">Créer un formulaire <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ path('add-product') }}">Ajouter des produits <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ path('do-histo') }}">Ajouter une vente ou un achat <span class="sr-only">(current)</span></a>
            </li>
            {% endif %}
            <li class="nav-item ">
                <a class="nav-link" href="{{ path('security_logout') }}">Déconnexion<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>