{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    {{ form_label(form.nom_produit, "Nom du produit" , {'label_attr' : {'class' : 'bmd-label-floating'}} ) }}
    {{ form_widget(form.nom_produit, {'attr' : {'class' : 'form-control'}} ) }}
    {{ form_label(form.prix_produit, "Prix du produit" , {'label_attr' : {'class' : 'bmd-label-floating'}} ) }}
    {{ form_widget(form.prix_produit, {'attr' : {'class' : 'form-control'}} ) }}
    {{ form_label(form.quantity, "Quantité" , {'label_attr' : {'class' : 'bmd-label-floating'}} ) }}
    {{ form_widget(form.quantity, {'attr' : {'class' : 'form-control'}} ) }}
    {{ form_row(form.Pharmacie) }}

    <button id="achat">Achat</button> <button id="vente">Vente</button>

    <script type="text/javascript">
        $(document).ready(function(){

           $("#achat").on("click", function(e){
               var nom = $("#histo_nom_produit").val();
               var prix = $("#histo_prix_produit").val();
               var quantity = $("#histo_quantity").val();
               var pharmacie = $("#histo_Pharmacie option:selected").val();

               e.preventDefault();
               $.ajax("{{ path("data-histo") }}?type="+$(this).attr('id')+"&nom="+nom+"&quantity="+quantity+"&prix="+prix+"&Pharmacie="+pharmacie,
                   {
                       success: function(){
                           console.log("success achat")
                       },
                       error: function(){
                           console.log("error")
                       }
                   });
           }) ;
        $("#vente").on("click", function(e){
            e.preventDefault();
            var nom = $("#histo_nom_produit").val();
            var prix = $("#histo_prix_produit").val();
            var quantity = $("#histo_quantity").val();
            var pharmacie = $("#histo_Pharmacie option:selected").val();
               $.ajax("{{ path("data-histo") }}?type="+$(this).attr('id')+"&nom="+nom+"&quantity="+quantity+"&prix="+prix+"&Pharmacie="+pharmacie,
                   {

                       success: function(){
                           console.log("success vente")
                       },
                       error: function(){
                           console.log("error")
                       }
                   });
           }) ;
        });
    </script>
{% endblock %}