{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <div class="container align-self-center middle">
        <a class="btn btn-raised btn-info btn-lg" href="{{ path('taux-remise') }}">Taux Remise</a>
        <a class="btn btn-raised btn-info btn-lg" href="{{ path('achat-net') }}">Achat Net</a>
        <a class="btn btn-raised btn-info btn-lg" href="{{ path('vente-net') }}">Vente Net</a>
        <a class="btn btn-raised btn-info btn-lg" href="{{ path('coeff') }}">Coefficient multiplicateur</a>
    </div>
{% endblock %}

