{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col"> Nom Produit </th>
            <th scope="col"> Prix Produit </th>
            <th scope="col"> Quantité </th>
            <th scope="col"> Type </th>
        </tr>
        </thead>
        <tbody>
        {% for i in histo %}
            <tr>{#, {"id" : i.id}#}
                <td><a href="{{ path("show-histo", {id : i.id}) }}">{{ i.NomProduit }}</a></td>
                <td>{{ i.PrixProduit }}</td>
                <td>{{ i.quantity }}</td>
                <td>{{ i.type }}</td>
            </tr>


        {% endfor %}
        </tbody>
    </table>
{% endblock %}