{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>
</head>
<body>
<div class="container">
    <h2 style="text-align: center">Découvrez les pharmacie à proximité de votre emplacement</h2>
</div>
{% if is_conn %}

{#<iframe width="600" height="450" frameborder="0" style="border:0"#}
        {#src="https://www.google.com/maps/embed/v1/search?q=pharmacie&key=AIzaSyCI5NNjqZVJWyi90ZnoJcElgWR1nXvOo8A" allowfullscreen></iframe>#}
    <section>

        <div class="row">
            <div class="col-md-8 pharma-row">
                <div id="map-container-google-1" class="z-depth-1-half map-container mb-5" style="height: 500px">
                    <iframe src="https://maps.google.com/maps?q=pharmacie&amp;t=&amp;z=10&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </section>
{% else %}
    <h1 class="titleNotConnected">Vous n'êtes pas connecté à internet</h1>
<table class="table">
    <thead>
    <tr>
            <th scope="col"> Nom Pharmacie </th>
            <th scope="col"> Rue Pharmacie </th>
            <th scope="col"> Numéro de Rue Pharmacie </th>
            <th scope="col"> Numéro de Téléphone Pharmacie </th>
    </tr>
    </thead>
    <tbody>
        {% for i in pharmacies %}
                <tr>{#, {"id" : i.id}#}
                    <td><a href="{{ path("show-histo", {id : i.id}) }}">{{ i.nom_pharma }}</a></td>
                    <td>{{ i.adresse_pharma.rue}}</td>
                    <td>{{ i.adresse_pharma.num_rue}}</td>
                    <td>{{ i.num_tel}}</td>
                </tr>


        {% endfor %}
    </tbody>
</table>
{% endif %}
<script type="text/javascript">
    // marker = new google.maps.Marker(
    //     {
    //         map:map,
    //         draggable:true,
    //         animation: google.maps.Animation.DROP,
    //         position: results[0].geometry.location
    //     });
    // google.maps.event.addListener(marker, 'dragend', function()
    // {
    //     geocodePosition(marker.getPosition());
    // });
    //
    // function geocodePosition(pos)
    // {
    //     geocoder = new google.maps.Geocoder();
    //     geocoder.geocode
    //     ({
    //             latLng: pos
    //         },
    //         function(results, status)
    //         {
    //             if (status == google.maps.GeocoderStatus.OK)
    //             {
    //                 $("#mapSearchInput").val(results[0].formatted_address);
    //                 $("#mapErrorMsg").hide(100);
    //             }
    //             else
    //             {
    //                 $("#mapErrorMsg").html('Cannot determine address at this location.'+status).show(100);
    //             }
    //         }
    //     );
    // }
</script>
</body>
{% endblock %}