{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="form">
    {{ form_start(form) }}
    {{ form_label(form.achat_brut, "Prix d'achat Brut" , {'label_attr' : {'class' : 'bmd-label-floating'}} ) }}
    {{ form_widget(form.achat_brut, {'attr' : {'class' : 'form-control'}} ) }}
    {{ form_label(form.taux_remise, "Taux de Remise" , {'label_attr' : {'class' : 'bmd-label-floating'}} ) }}
    {{ form_widget(form.taux_remise, {'attr' : {'class' : 'form-control'}} ) }}
    {{ form_end(form) }}
    <button type="submit" value="Calculer" class="btn btn-raised btn-info btn-lg2 submitCalc">Calculer</button>

    <div id="achatNet">Prix d'achat Net : <div id="result"></div></div>
</div>
{% endblock %}

{% block javascript %}

{{ parent() }}

<script type="text/javascript">
$(document).ready(function(){

    $("#achatNet").hide();
    $(".submitCalc").click(
        function(){
            var achat_brut = $("#achat_net_calc_achat_brut").val();
            var taux_remise = $("#achat_net_calc_taux_remise").val();

            var achat_net = achat_brut * (1 - taux_remise/100) ;

            $("#achatNet").show();
            $("#result").empty();
            $("#result").append(achat_net);

        }
    )
    });

</script>

{% endblock %}
