{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="form">
    {{ form_start(form) }}
    {{ form_label(form.achat_net, "Prix d'achat Net" , {'label_attr' : {'class' : 'bmd-label-floating'}} ) }}
    {{ form_widget(form.achat_net, {'attr' : {'class' : 'form-control'}} ) }}
    {{ form_label(form.vente_net, "Prix de vente net" , {'label_attr' : {'class' : 'bmd-label-floating'}} ) }}
    {{ form_widget(form.vente_net, {'attr' : {'class' : 'form-control'}} ) }}
    {{ form_end(form) }}
    <button type="submit" value="Calculer" class="btn btn-raised btn-info btn-lg2 submitCalc">Calculer</button>

    <div id="coeff">Coefficient Multiplicateur : <div id="result"></div></div>
</div>
{% endblock %}

{% block javascript %}

{{ parent() }}

<script type="text/javascript">
$(document).ready(function(){

    $("#coeff").hide();
    $(".submitCalc").click(
        function(){
            var vente_net = $("#coeff_calc_vente_net").val();
            var achat_net = $("#coeff_calc_achat_net").val();

            var coeff = vente_net / achat_net;

            $("#coeff").show();
            $("#result").empty();
            $("#result").append(coeff);

        }
    )
    });

</script>

{% endblock %}
