{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="form">
    {{ form_start(form) }}
    {{ form_label(form.achat_net, "Prix d'achat Net" , {'label_attr' : {'class' : 'bmd-label-floating'}} ) }}
    {{ form_widget(form.achat_net, {'attr' : {'class' : 'form-control'}} ) }}
    {{ form_label(form.achat_brut, "Prix d'achat Brut" , {'label_attr' : {'class' : 'bmd-label-floating'}} ) }}
    {{ form_widget(form.achat_brut, {'attr' : {'class' : 'form-control'}} ) }}
    {{ form_end(form) }}
    <button type="submit" value="Calculer" class="btn btn-raised btn-info btn-lg2 submitCalc">Calculer</button>

    <div id="tauxRemise">Taux de Remise : <div id="result"></div></div>
</div>
{% endblock %}

{% block javascript %}

{{ parent() }}

<script type="text/javascript">
$(document).ready(function(){

    $("#tauxRemise").hide();
    $(".submitCalc").click(
        function(){
            var achat_brut = $("#taux_remise_calc_achat_brut").val();
            var achat_net = $("#taux_remise_calc_achat_net").val();

            var taux_remise = (1 - achat_net / achat_brut) * 100 ;

            $("#tauxRemise").show();
            $("#result").empty();
            $("#result").append(taux_remise);


        }
    )
    });

</script>

{% endblock %}
