{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="form">
    {{ form_start(form) }}
    {{ form_label(form.achat_net, "Prix d'achat Net" , {'label_attr' : {'class' : 'bmd-label-floating'}} ) }}
    {{ form_widget(form.achat_net, {'attr' : {'class' : 'form-control'}} ) }}
    {{ form_label(form.coeff, "Coefficient" , {'label_attr' : {'class' : 'bmd-label-floating'}} ) }}
    {{ form_widget(form.coeff, {'attr' : {'class' : 'form-control'}} ) }}
    {{ form_end(form) }}
    <button type="submit" value="Calculer" class="btn btn-raised btn-info btn-lg2 submitCalc">Calculer</button>

    <div id="venteNet">Prix de vente Net : <div id="result"></div></div>
</div>
{% endblock %}

{% block javascript %}

{{ parent() }}

<script type="text/javascript">
$(document).ready(function(){

    $("#venteNet").hide();
    $(".submitCalc").click(
        function(){
            var achat_net = $("#vente_net_calc_achat_net").val();
            var coeff = $("#vente_net_calc_coeff").val();

            var vente_net = achat_net * coeff ;

            $("#venteNet").show();
            $("#result").empty();
            $("#result").append(vente_net);

        }
    )
    });

</script>

{% endblock %}
