<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        {% block stylesheets %}
            {#<link href="/css/css.css" rel="stylesheet">#}
            <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">
            <link rel="stylesheet" href="/css/style.css">
            <link rel="stylesheet" href="/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


        {% endblock %}
        {% block javascript %}
            {% include 'default/javascript.html.twig' %}
        {% endblock %}

    </head>
    <body>
        {% if app.user == null %}

            {% include 'default/header.html.twig' %}
        {% elseif app.user != null %}
            {% include 'default/header_connected.html.twig' %}
        {% endif %}
        {% block body %}
        {% endblock %}
    </body>
    <footer>
    {% include 'default/footer.html.twig' %}
    </footer>

</html>
