<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        {% block stylesheets %}
            <link href="/css/css.css" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">

            <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
            <link rel="stylesheet" href="/css/animate.css">
            
            <link rel="stylesheet" href="/css/owl.carousel.min.css">
            <link rel="stylesheet" href="/css/owl.theme.default.min.css">
            <link rel="stylesheet" href="/css/magnific-popup.css">

            <link rel="stylesheet" href="/css/aos.css">

            <link rel="stylesheet" href="/css/ionicons.min.css">

            <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
            <link rel="stylesheet" href="/css/jquery.timepicker.css">
            
            <link rel="stylesheet" href="/css/flaticon.css">
            <link rel="stylesheet" href="/css/icomoon.css">
            <link rel="stylesheet" href="/css/style.css">
            <link rel="stylesheet" href="/css/style2.css">

            <link rel="stylesheet" href="/css/Main.css">
            <link rel="stylesheet" href="/css/css/style.css">
        {% endblock %}
        {% block javascript %}
        {% include 'default/javascript.html.twig' %}

            {% if app.user == null %}
                 {% include 'default/javascript_not_connected.html.twig' %}
            {% endif %}

        {% endblock %}

    </head>
    <body>
        {% if app.user == null %}
            {% include 'default/headerGeneral.html.twig' %}
        {% elseif app.user != null %}
            {% include 'default/header_connected.html.twig' %}
        {% endif %}
        {% block body %}

        {% endblock %}
    </body>
    <footer>
    {% include 'default/footer.html.twig' %}
    </footer>

</html>
